# Dependencies
node_modules/
tsconfig.json

# Production builds
dist/

# Environment variables
.env
.env*.local

# Logs
logs/
*.log
npm-debug.log*

# Lock files
package-lock.json
yarn.lock

# OS/Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/